@tailwind base;
@tailwind components;
@tailwind utilities;

body.dragging {
    overflow: hidden;
    touch-action: none;
    -webkit-user-select: none;
    user-select: none;
}

.touch-manipulation {
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

.touch-auto {
    touch-action: auto !important;
}

.dragging * {
    -webkit-user-select: none;
    user-select: none;
}
